<div id="nav">
    <img src="assets/logo.png" id="logo">
    <p class="nav-item">Home</p>
    <p class="nav-item">About</p>
    <p class="nav-item">Services</p>
    <p class="nav-item">Contact</p>
</div>
<div id="content">

    <div id="initial-text-container" class="content-item">
        <div id="texts-container">
            <h1 class="initial-text" id="title-finance">Finance Control</h1>
            <h3 class="initial-text" id="subtitle-finance">Manage your personal finances with ease.</h3>
        </div>

        <p-button label="Get Started" id="get-started" styleClass="p-button-accent">
        </p-button>
    </div>
    <div id="graph-img-container" class="content-item">

        <img src="assets/graph.png" alt="" id="graph-img">

    </div>

</div>